html { 
    background: url(https://avatars.githubusercontent.com/u/79658508?s=200&v=4) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.no-select {
    user-select: none;
    -ms-user-select: none;
}

.txt {
    background-color: transparent;
    filter: invert(100%);
}
